/.files
/.config/zsh/.zcompdump
/.config/zsh/**/*.zwc
/.config/zsh/secrets.zsh
/.config/zsh/secrets.d/*
/.config/zsh/.zsh_sessions
/.config/zsh/.zsh_history
/.config/git/auth
/.config/nvim/plugin/packer_compiled.lua
/.config/gradle
/.config/karabiner/automatic_backups
/.config/helm
/.config/jgit
/.config/gh
/.config/kitty/kitty.conf.bak
